-dramsim-device-ini-file /home/dante/DRAMSim2/ini/DDR3_micron_32M_8B_x8_sg25E.ini
-dramsim-system-ini-file /home/dante/DRAMSim2/system.ini.example
-dramsim-results-dir-name /home/dante/results/
-loglevel 99
-yamlstats /home/dante/results/
-logfile /home/dante/results/
-machine shared_l2
-corefreq 2G
